/.vs/GD1P03-Assessment2-MatthewBartlett/v17
/.vs
/NinjaClone/include/SFML
/NinjaClone/lib
/NinjaClone/x64
NinjaClone/NinjaClone.vcxproj.filters
NinjaClone/NinjaClone.vcxproj.user
/x64
/NinjaClone/Assets/Audio/
